.page {
  margin: 0;
  padding: 0;
  width: 100%;

  //右边qq微信
  .rwm {
    position: fixed;
    padding-top: 20px;
    right: 70px;
    top: 45%;
    width: 158px;
    height: 178px;
    z-index: 1000;
    border: 1px solid #fbd301;
    border-radius: 8px 0px 0px 8px;
    background-color: #fff;

    .picture {
      margin: 0 auto;
      width: 116px;
      height: 116px;
      background-color: #4c4c4c;
    }

    span {
      display: block;
      margin-top: 22px;
      text-align: center;
      font-size: 14px;
      font-family: MicrosoftYaHeiLight;
      font-weight: 300;
      color: #8a77f6;
    }
  }

  .fixBox {
    position: fixed;
    right: 0;
    top: 45%;
    width: 70px;
    height: 200px;
    z-index: 1000;
    background-color: #fbd301;

    span {
      display: block;
      // margin: 0 auto;
      text-align: center;
      margin-top: 40px;
    }
  }

  .main {

    //   轮播图
    .swiper_Box {
      // position: relative;
      width: 100%;
      overflow: hidden;
      height: 314px;
      background-color: antiquewhite;
      img{
          width: 100%;
          height: 314px;
      }
    }

    // 广告标语及横向公告
    .slogan {
      height: 324px;

      .slogan_content {
        width: 1200px;
        margin: 0 auto;

        // 筛选条件 由于结构特殊性。不同屏幕难以判断left距离故以此方式进行
        .select_box {
          display: flex;
          justify-content: flex-start;
          position: absolute;
          z-index: 1000;
          top: 207px;

          .select_type {
            width: 172px;
            height: 314px;
            background-color: #8a77f6;

            ul {
              margin-left: 10px;

              li {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 8px;
                padding: 17px 12px 17px 21px;

                img {
                  width: 7px;
                  height: 13px;
                  margin-left: 10px;
                }
              }
            }
          }

          .insertArea {
            box-sizing: border-box;
            width: 394px;
            height: 314px;
            padding: 10px 28px;
            background-color: #fff;

            .title {
              text-align: center;
              font-size: 12px;
              font-family: MicrosoftYaHeiLight;
              font-weight: 300;
              color: #4c4c4c;
            }

            .from_a {
              ul {
                li {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  margin: 7px 0;

                  img {
                    margin-right: 10px;
                    width: 24px;
                    height: 22px;
                  }
                }
              }
            }

            .btn {
              width: 220px;
              height: 40px;
              margin: 0 auto;
              cursor: pointer;
              text-align: center;
              line-height: 40px;
              color: #ffffff;
              font-size: 16px;
              font-family: MicrosoftYaHeiLight;
              font-weight: bold;
              background-color: #8a77f6;
            }
          }
        }

        .swiper_notice {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          font-size: 8px;
          font-family: MicrosoftYaHeiLight;
          font-weight: 300;

          .notice {
            width: 200px;
            margin: 0 auto;
            overflow: hidden;
            text-overflow: ellipsis; //溢出用省略号显示
            white-space: nowrap; //溢出不换行
            cursor: pointer;
            font-size: 16px;
            font-family: MicrosoftYaHeiLight;
            font-weight: 300;
            color: #4c4c4c;
          }

          img {
            width: 145px;
            height: 21px;
          }
        }
      }
    }

    // 逆袭985
    .brraging {
      height: 660px;
      background: url("./img/sybj.png");

      .brraging_content {
        width: 1200px;
        margin: 0 auto;

        .brrag_top {
          display: flex;
          justify-content: space-between;
          padding-top: 61px;

          .brrag_topleft {
            border-bottom: 1px solid #d1d1d1;

            .brrag_title {
              text-align: center;
            }

            .brrag_content {
              display: flex;
              justify-content: flex-start;
              margin-bottom: 22px;

              .content_left {
                margin-left: 10px;
              }

              .content_right {
                width: 266px;
                margin: 0 50px 0 79px;
              }
            }
          }

          .brrag_topright {
            width: 266px;
            margin-right: 156px;
          }
        }

        .brrag_bottom {
          display: flex;
          justify-content: space-between;

          .brrag_topleft {
            padding-top: 30px;
            width: 671px;

            .brrag_title {
              text-align: center;
            }

            .brrag_content {
              display: flex;
              justify-content: flex-start;
              margin-bottom: 22px;

              .content_left {
                margin-left: 10px;
              }

              .content_right {
                width: 266px;
                margin: 0 50px 0 79px;
              }
            }
          }

          .brrag_topright {
            width: 442px;

            .content_left {
              display: flex;
              justify-content: flex-start;
              flex-wrap: wrap;

              .student {
                margin: 0 0 20px 20px;

                .name {
                  width: 180px;
                  padding: 9px 0 9px 20px;
                  font-size: 14px;
                  font-family: MicrosoftYaHeiLight;
                  font-weight: bold;
                  color: #580643;
                  background-color: #fbd301;
                }

                .major {
                  padding: 15px 0 5px 20px;
                  font-size: 14px;
                  font-family: MicrosoftYaHeiLight;
                  font-weight: 300;
                  color: #4c4c4c;
                  background-color: #fff;

                  span {
                    display: block;
                    margin-bottom: 5px;
                  }
                }
              }
            }
          }
        }
      }
    }

    //解决方案
    .solution {
      height: 710px;

      .solution_content {
        width: 1200px;
        margin: 0 auto;

        img {
          margin: 83px 0;
        }

        .information {
          display: flex;
          justify-content: space-between;

          //留学资讯
          .overseas {
            width: 570px;
            margin: 0 80px 0 15px;
            overflow: hidden;
          }

          // 考试资讯
          .exam {
            width: 570px;
            margin-right: 15px;
            overflow: hidden;
          }

          span {
            display: block;
            text-align: center;
            font-size: 16px;
            font-family: MicrosoftYaHei;
            font-weight: bold;
          }

          ul li {
            margin: 20px 0;
            font-size: 14px;
            font-family: MicrosoftYaHeiLight;
            font-weight: 300;
            overflow: hidden;
            text-overflow: ellipsis; //溢出用省略号显示
            white-space: nowrap; //溢出不换行
            cursor: pointer;
          }
        }
      }
    }
  }
}
